<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

    <servlet>
		<servlet-name>EmailInteractiveFinal</servlet-name>
		<servlet-class>com.emailinteractive.EmailInteractiveFinalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailInteractiveFinal</servlet-name>
		<url-pattern>/emailinteractivefinal</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>BeginLogin Initial</servlet-name>
		<servlet-class>com.emailinteractive.BeginLoginInitial</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeginLogin Initial</servlet-name>
		<url-pattern>/BeginLoginInitial</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>EmailLogin Servlet</servlet-name>
		<servlet-class>com.emailinteractive.EmailLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailLogin Servlet</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SendMail Servlet</servlet-name>
		<servlet-class>com.emailinteractive.SendMailSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMail Servlet</servlet-name>
		<url-pattern>/SendMailSevlet</url-pattern>
	</servlet-mapping>

    
    
	<display-name>EmailInteractiveFinal2</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>